# Ignore node_modules directory
/node_modules

# Ignore log files
/logs

# Ignore environment-specific files
.env

# Ignore package-lock.json (if using npm)
package-lock.json


# Ignore database configuration files with sensitive information (customize as needed)
config/config.json
